Arpeggio==2.0.2
backports.functools-lru-cache==2.0.0
cffi==1.15.0
cryptography==36.0.2
Jinja2==3.0.3
MarkupSafe==2.1.1
numpy==1.26.4
packaging==21.3
pandas==2.3.1
pyarrow==21.0.0
pycparser==2.21
pyModbusTCP==0.3.0
pyparsing==3.0.7
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0
pyzmq==27.0.1
resolvelib==0.5.4
textX==3.1.1
Typhoon-HIL-API==1.31.0
tzdata==2025.2
